{% extends "base.html" %}

{% block title %}Start Order{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card shadow text-center">
                <div class="card-body">

                    <h2 class="mb-3">Start Your Order</h2>

                    <p class="lead">
                        Ready to order, {{ session.get("customer_name") }}?
                    </p>

                    <form method="POST">
                        <button type="submit" class="btn btn-custom-orange">
                            Start Order
                        </button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}